@import "~bootstrap/scss/bootstrap";

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.outer-container {
  height: 90vh !important;
  width: 80vh !important;
  max-width: 800px !important;
  background: rgb(238, 238, 238);
  border-radius: 25px;
  padding: 2em;
}

.patient-case-box {
  background: cyan;
  padding: 1em;
  margin-left: 2em !important;
  margin-right: 2em !important;
}

.patient-case-title-row {
  font-size: large;
}

.patient-case-info-row {
  font-size: large;
}