@import "~bootstrap/scss/bootstrap";

.outer {
  background-color: black;
  height: 85vh !important;
  width: 80vh !important;
  max-width: 700px !important;
  border-radius: 25px;
}

.main-display {
  background-color: grey;
}

.main-input {
  max-height: 200px !important;
  background-color: white;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bg-purple {
  background: rgb(48, 0, 50);
}
.bg-gray {
  background: rgb(74, 74, 74);
}
.bg-blue {
  background: rgb(50, 101, 196);
}
.bg-red {
  background: rgb(196, 50, 53);
}
