@import "~bootstrap/scss/bootstrap";

.outer-container {
  height: 90vh !important;
  width: 80vh !important;
  max-width: 800px !important;
  background: rgb(238, 238, 238);
  border-radius: 25px;
  padding: 2em;
}
