@import "~bootstrap/scss/bootstrap";

a:link {
  color: black;
}

.patient-case-box {
  background: white;
  border-radius: 25px;
  border-color: rgb(93, 93, 93);
  border-width: 2px;
  border-style: solid;
  padding: 1em;
  margin-left: 2em !important;
  margin-right: 2em !important;
}

.patient-case-title-row {
  font-size: large;
}

.patient-case-info-row {
  font-size: medium;
}